$def with (page)
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8">
  <title>$page.title > |slim| slides</title>
  <link href="/static/screen.css" type="text/css" rel="stylesheet" />
  <link href="/static/shjs/css/sh_acid.css" type="text/css" rel="stylesheet" />
  <script type="text/javascript"
  src="/static/jquery-1.3.2.min.js"></script>
  <script type="text/javascript" src="/static/shjs/sh_main.min.js"></script>
  <script type="text/javascript" src="/static/newapp.js"></script>
  $:page.get('head')
</head>
<body onload="init(); sh_highlightDocument('/static/shjs/lang/', '.js');">
  <div class="container">
    $:page
  </div>
</body>
</html>
